@charset "UTF-8";

:root{
    /*Paleta de cores*/
    --cor1: #D8EBF2;
    --cor2: #8AB5BF;
    --cor3: #326C73;
    --cor4: #0B1E26;
    --cor5: #732F5B;
}
    
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*A borda faz parte da conta de largura. Por padrão, ele testa por dentro da borda, mas agora quero que a borda faça parte da conta*/
}

body, html{
    background-color: var(--cor5);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--cor1);
    width: 260px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.498);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor5) url(../imagens/backpacker.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 210px;
}

section#login > div#formulario{
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.7em;
}

form > div.campo {
    background-color: var(--cor5);
    border: 2px var(--cor5) solid;
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin: 5px 0px; /*Margens de cima e de baixo com 5px e as da esq e dir com 0px*/

}

div.campo > label {
    display: none;
}

div.campo > span{
    color: white;
    /*background: black;*/
    font-size: 2em;
    width: 40px;
    padding: 2px;
}

div.campo > input {
    background: var(--cor1);
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
    transform: translateY(-11.4px);
    border: 0px;
    border-radius: 8px;
    padding: 6px;
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: var(--cor3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor4);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    margin-top: 5px;
    background-color: var(--cor1);
    color: var(--cor4);
    border: 1px var(--cor3) solid;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

form > a.botao:hover{
    background-color: var(--cor2);
}

form > a.botao > span {
    font-size: 0.8em;
}