@charset "UTF-8";

:root{
    /*Paleta de cores*/
    --cor1: #D8EBF2;
    --cor2: #8AB5BF;
    --cor3: #326C73;
    --cor4: #0B1E26;
    --cor5: #732F5B;
}
    
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*A borda faz parte da conta de largura. Por padrão, ele testa por dentro da borda, mas agora quero que a borda faça parte da conta*/
}

body, html{
    background-color: var(--cor5);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--cor1);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.498);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--cor5) url(../imagens/backpacker.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

section#login > div#formulario{
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.8em;
}