@charset "UTF-8";

:root{
    --cor1:#E2F1F8;
    --cor2:#99CBCC;
    --cor3:#4FA8A2;
    --cor4:#367675;
    --cor5:#836291;
    --cor6:#542A76;


}


*{
    margin: 0;  

}

body{
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor4));
    background-attachment: fixed;
    height: 100vh;
}

div#formulario{
    background-color: white;
    width: 400px;
    height: 300px;
    border-color: var(--cor5);
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    
}   

#divuser{
    background-image: url('https://i.imgur.com/eKw2dvH.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.2em;
    padding-left: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cor5);
    background-color: var(--cor5);
    border-radius: 6px;
    margin: 10px;
}

#divsenha{
    max-width: 400px;
    padding-left: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cor5);
    background-color: var(--cor5);
    border-radius: 6px;
    margin: 9px;
    
}

#iusuario, #isenha{
    background-color: var(--cor2);
    color: darkgray;
    border-radius: 6px;
    margin: 2px;
}

#iusuario:focus{
    background-color: var(--cor1);
    color: black;
}

#isenha:focus{
    background-color: var(--cor1);
    color: black;
}

#entrar{
    background-color: var(--cor4);
    color: white;
    width: 400px;
    border-color: var(--cor4);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}

#esqueci{
    background-color: white;
    color: var(--cor4);
    width: 400px;
    border-color: var(--cor4);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
}

div > h1 {
    text-align: center;
    padding: 10px;
}

div > p {
    padding: 10px;
}